---
import { getCollection } from 'astro:content';
import FormattedDate from '~/components/FormattedDate.astro';
import MainLayout from '~/layouts/MainLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<MainLayout>
  <section>
    <ul class="flex flex-col gap-2">
      {
        posts.map((post) => (
          <li class="text-xl">
            <FormattedDate date={post.data.pubDate} />
            <a class="hover:underline" href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
