---
import MainLayout from '~/layouts/MainLayout.astro';
---
<MainLayout>
  <h1 class="text-2xl font-bold px-2">About</h1>
  <div class="flex flex-col md:flex-row flex-wrap gap-4 px-2">
    <p class="flex-1">
      Welcome to my blog, where I delve into the captivating world of software engineering!
      I am a 30-year-old software engineer originally from <b>Guatemala</b>, now embracing the vibrant
      tech scene in the beautiful city of Paris. With a passion for crafting innovative solutions,
      I specialize in working with <b class="text-cyan-500">React</b>, <b class="text-blue-500">TypeScript</b>, <b class="text-red-800">Java</b>, <b class="text-orange-600">Rust</b>, <b class="text-yellow-600">Python</b>, and the art of <b class="text-green-600">CSS</b>. 
    </p>
    <img class="h-[150px] self-center rounded-full grayscale hover:grayscale-0 transition-all" src="/ironman.png" />
    <p>
      My professional journey has taken me into the exciting realm of <b>fintech</b>, where I've had the privilege of contributing to cutting-edge projects that blend finance and technology seamlessly. Join me as we embark on a captivating exploration of coding, where we'll navigate through the intricacies of these technologies, share valuable insights, and unravel the secrets behind building exceptional software experiences. 
    </p>
    <p>
      Get ready to untangle lines of code and unlock the boundless possibilities of software engineering! 
    </p>
  </div>
</MainLayout>
