---
import MainLayout from '~/layouts/MainLayout.astro';
---
<MainLayout>
  <h1 class="text-2xl">Hello!</h1>
  <p class="text-justify text-xl">
    Welcome to my blog, where I delve into the captivating world of software engineering!
    I am a 30-year-old software engineer originally from Guatemala, now embracing the vibrant
    tech scene in the beautiful city of Paris. With a passion for crafting innovative solutions,
    I specialize in working with <b class="text-cyan-500">React</b>, <b class="text-blue-500">TypeScript</b>, <b class="text-red-800">Java</b>, <b class="text-orange-600">Rust</b>, <b class="text-yellow-600">Python</b>, and the art of <b class="text-green-600">CSS</b>. 
  </p>
  <img class="h-[200px] self-center" src="/ironman.png" />
  <p class="text-justify text-xl">
    My professional journey has taken me into the exciting realm of <b>fintech</b>, where I've had the privilege of contributing to cutting-edge projects that blend finance and technology seamlessly. Join me as we embark on a captivating exploration of coding, where we'll navigate through the intricacies of these technologies, share valuable insights, and unravel the secrets behind building exceptional software experiences. Get ready to untangle lines of code and unlock the boundless possibilities of software engineering! 
  </p>
</MainLayout>
