---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class="text-sm hover:bg-gray-200 gap-1 hover:underline dark:hover:bg-gray-700 flex shrink-0 items-center transition-colors active:ring-2 ring-offset-2 ring-slate-500 px-2 py-1 rounded" class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;

	}
</style>
