---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="h-[64px] top-0 left-0 flex flex-col position fixed w-full bg-white bg-opacity-50 backdrop-blur">
  <div class="container flex gap-4 px-2 max-w-2xl mx-auto flex-1">
    <HeaderLink class="ja-event-name=Click+Name text-lg font-bold" href="/blog">{SITE_TITLE}</HeaderLink>
    <nav class="text-xl flex gap-2 flex-1 flex-row-reverse">
      <HeaderLink class="ja-event-name=Click+Github" href="https://github.com/g3org3" target="_blank">
        <img class="h-4" src="/github-mark.svg" />
        <span>GitHub</span>
      </HeaderLink>
      <HeaderLink class="ja-event-name=Click+Twitter" href="https://twitter.com/g3org3dev" target="_blank">
        <img class="h-4" src="/twitter.svg" />
        <span>Twitter</span>
      </HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </nav>
  </div>
</header>

