---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class="bg-slate-200 hover:shadow hover:bg-slate-300 active:ring-2 ring-offset-2 ring-slate-500 px-4 py-2 rounded" class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;

	}
	a.active {
		text-decoration: underline;
	}
</style>
