---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '~/components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<MainLayout>
  <article class="flex flex-col gap-4">
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    <div class="flex px-2 items-end">
    <h1 class="text-2xl">{title}</h1>
    <div class="flex-1"></div>
    <FormattedDate isFull date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate isFull date={updatedDate} />
        </div>
      )
    }
    </div>
    <hr />
    <div class="px-2 content">
      <slot />
    </div>
  </article>
</MainLayout>
<style is:global>
.content > h2, h3, h4 {
  font-weight: bold;
}
.content p {
  margin-top: 20px;
}
.content ul {
  list-style: square inside;
}
.content a {
  color: blue;
}
.content a:hover {
  text-decoration: underline;
}
.content code {
}
</style>
